{% load static %}
<section class="section-achievement relative py-[50px] max-[991px]:py-[40px] max-[767px]:py-[35px]" id="bixexperience">
    <div class="flex flex-wrap justify-between relative items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
        <div class="flex flex-wrap w-full">
            <div class="w-full px-[12px]">
                <div class="bix-banner mb-[30px] flex justify-center text-center max-[1199px]:mb-[25px] max-[767px]:mb-[20px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                    <h4 class="font-montserrat text-[36px] font-bold text-[#111a24] tracking-[0.03rem] leading-[1.2] max-[1199px]:text-[32px] max-[767px]:text-[28px] max-[575px]:text-[24px]">آنچه من<span class="text-[#f41a4a]"> داریم </span></h4>
                </div>
                <div class="bix-banner-line mb-[110px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
                    <span class="inner-border relative flex justify-center"></span>
                </div>
            </div>
            <div class="w-full px-[12px]">
                <div class="bix-activity-tabs flex flex-col items-center">
                    <ul class="nav nav-tabs inline-flex flex-wrap justify-center items-center bg-[#fff] border-[1px] border-solid border-[#111a24] rounded-[25px] mb-[30px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
                        <li class="nav-item bix-tab active m-[10px]">
                            <a href="javascript:void(0)" class="py-[5px] px-[15px] rounded-[15px] capitalize font-medium text-[16px] block" data-id="tab1">آموزش</a>
                        </li>
                        <li class="nav-item bix-tab m-[10px]">
                            <a href="javascript:void(0)" class="py-[5px] px-[15px] rounded-[15px] capitalize font-medium text-[16px] block" data-id="tab2">تجربه</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab tab-active tab-activity-pane" data-id="tab1">
                            <div class="flex flex-wrap w-full">
                                <div class="w-full">
                                    <div class="bix-achievement relative flex w-full max-[767px]:flex-col">
                                        <div class="bix-achievement-inner bix-border-r w-[50%] pr-[30px] border-r-[0.5px] border-solid border-[#111a24] max-[767px]:w-full max-[767px]:flex max-[767px]:flex-col max-[767px]:border-[0] max-[767px]:p-[0]">
                                            <div class="bix-achievement-box left border-[1px] border-solid border-[#111a24] p-[30px] rounded-[30px] bg-[#f7f5fb] relative max-[767px]:mt-[12px] max-[767px]:mb-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                                                <div class="achievement-year w-[100px] h-full absolute top-[0] flex items-center justify-center rotate-[270deg] z-[1] right-[-82px] max-[767px]:block max-[767px]:rotate-[0] max-[767px]:top-[-13px] max-[767px]:left-[45px]">
                                                    <span class="bg-[#111a24] text-[#fff] border-[1px] border-solid border-[#111a24] rounded-[10px] leading-[1] py-[3px] px-[10px] font-montserrat font-normal tracking-[0.02rem] text-[14px]">۲۰۲۲-۲۴</span>
                                                </div>
                                                <h4 class="mb-[8px] font-montserrat text-[18px] font-semibold leading-[26px] text-[#111a24] tracking-[0.03rem] max-[575px]:text-[16px] max-[575px]:leading-[25px]">کارشناسی ارشد مهندسی کامپیوتر<span class="text-[15px] text-[#555]">- کلاس اول</span></h4>
                                                <p class="overflow-hidden text-ellipsis flex m-[0] font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کار</p>
                                            </div>
                                            <div class="bix-achievement-box left border-[1px] border-solid border-[#111a24] mt-[150px] p-[30px] rounded-[30px] bg-[#f7f5fb] relative max-[767px]:mt-[12px] max-[767px]:mb-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
                                                <div class="achievement-year w-[100px] h-full absolute top-[0] flex items-center justify-center rotate-[270deg] z-[1] right-[-82px] max-[767px]:block max-[767px]:rotate-[0] max-[767px]:top-[-13px] max-[767px]:left-[45px]">
                                                    <span class="bg-[#111a24] text-[#fff] border-[1px] border-solid border-[#111a24] rounded-[10px] leading-[1] py-[3px] px-[10px] font-montserrat font-normal tracking-[0.02rem] text-[14px]">۲۰۱۷-۲۰۲۰</span>
                                                </div>
                                                <h4 class="mb-[8px] font-montserrat text-[18px] font-semibold leading-[26px] text-[#111a24] tracking-[0.03rem] max-[575px]:text-[16px] max-[575px]:leading-[25px]">متوسطه بالاتر<span class="text-[15px] text-[#555]">- ۹۲.۵۴٪</span></h4>
                                                <p class="overflow-hidden text-ellipsis flex m-[0] font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کار</p>
                                            </div>
                                        </div>
                                        <div class="bix-achievement-inner bix-border-l w-[50%] pl-[30px] border-l-[0.5px] border-solid border-[#111a24] max-[767px]:w-full max-[767px]:flex max-[767px]:flex-col max-[767px]:border-[0] max-[767px]:p-[0] max-[767px]:mb-[-24px]">
                                            <div class="bix-achievement-box right border-[1px] border-solid border-[#111a24] mt-[150px] p-[30px] rounded-[30px] bg-[#f7f5fb] relative max-[767px]:mt-[12px] max-[767px]:mb-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="500">
                                                <div class="achievement-year w-[100px] h-full absolute top-[0] flex items-center justify-center rotate-[270deg] z-[1] left-[-82px] max-[767px]:block max-[767px]:rotate-[0] max-[767px]:top-[-13px] max-[767px]:left-[45px]">
                                                    <span class="bg-[#111a24] text-[#fff] border-[1px] border-solid border-[#111a24] rounded-[10px] leading-[1] py-[3px] px-[10px] font-montserrat font-normal tracking-[0.02rem] text-[14px]">۲۰۲۰-۲۲</span>
                                                </div>
                                                <h4 class="mb-[8px] font-montserrat text-[18px] font-semibold leading-[26px] text-[#111a24] tracking-[0.03rem] max-[575px]:text-[16px] max-[575px]:leading-[25px]">لیسانس مهندسی کامپیوتر<span class="text-[15px] text-[#555]">- کلاس دوم</span>
                                                </h4>
                                                <p class="overflow-hidden text-ellipsis flex m-[0] font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کار</p>
                                            </div>
                                            <div class="bix-achievement-box right border-[1px] border-solid border-[#111a24] mt-[150px] p-[30px] rounded-[30px] bg-[#f7f5fb] relative max-[767px]:mt-[12px] max-[767px]:mb-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="700">
                                                <div class="achievement-year w-[100px] h-full absolute top-[0] flex items-center justify-center rotate-[270deg] z-[1] left-[-82px] max-[767px]:block max-[767px]:rotate-[0] max-[767px]:top-[-13px] max-[767px]:left-[45px]">
                                                    <span class="bg-[#111a24] text-[#fff] border-[1px] border-solid border-[#111a24] rounded-[10px] leading-[1] py-[3px] px-[10px] font-montserrat font-normal tracking-[0.02rem] text-[14px]">۲۰۱۵-۲۰۱۷</span>
                                                </div>
                                                <h4 class="mb-[8px] font-montserrat text-[18px] font-semibold leading-[26px] text-[#111a24] tracking-[0.03rem] max-[575px]:text-[16px] max-[575px]:leading-[25px]">Primary School <span class="text-[15px] text-[#555]">- درجه A+</span></h4>
                                                <p class="overflow-hidden text-ellipsis flex m-[0] font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کار</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab tab-activity-pane" data-id="tab2">
                            <div class="flex flex-wrap w-full">
                                <div class="w-full">
                                    <div class="bix-achievement relative flex w-full max-[767px]:flex-col">
                                        <div class="bix-achievement-inner bix-border-r w-[50%] pr-[30px] border-r-[0.5px] border-solid border-[#111a24] max-[767px]:w-full max-[767px]:flex max-[767px]:flex-col max-[767px]:border-[0] max-[767px]:p-[0]">
                                            <div class="bix-achievement-box left border-[1px] border-solid border-[#111a24] mt-[150px] p-[30px] rounded-[30px] bg-[#f7f5fb] relative max-[767px]:mt-[12px] max-[767px]:mb-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                                                <div class="achievement-year w-[100px] h-full absolute top-[0] flex items-center justify-center rotate-[270deg] z-[1] right-[-82px] max-[767px]:block max-[767px]:rotate-[0] max-[767px]:top-[-13px] max-[767px]:left-[45px]">
                                                    <span class="bg-[#111a24] text-[#fff] border-[1px] border-solid border-[#111a24] rounded-[10px] leading-[1] py-[3px] px-[10px] font-montserrat font-normal tracking-[0.02rem] text-[14px]">۲۰۲۲-۲۴</span>
                                                </div>
                                                <h4 class="mb-[8px] font-montserrat text-[18px] font-semibold leading-[26px] text-[#111a24] tracking-[0.03rem] max-[575px]:text-[16px] max-[575px]:leading-[25px]">لینکدین<span class="text-[15px] text-[#555]">- سرپرست تیم</span></h4>
                                                <p class="overflow-hidden text-ellipsis flex m-[0] font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کار</p>
                                            </div>
                                            <div class="bix-achievement-box left border-[1px] border-solid border-[#111a24] mt-[150px] p-[30px] rounded-[30px] bg-[#f7f5fb] relative max-[767px]:mt-[12px] max-[767px]:mb-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
                                                <div class="achievement-year w-[100px] h-full absolute top-[0] flex items-center justify-center rotate-[270deg] z-[1] right-[-82px] max-[767px]:block max-[767px]:rotate-[0] max-[767px]:top-[-13px] max-[767px]:left-[45px]">
                                                    <span class="bg-[#111a24] text-[#fff] border-[1px] border-solid border-[#111a24] rounded-[10px] leading-[1] py-[3px] px-[10px] font-montserrat font-normal tracking-[0.02rem] text-[14px]">۲۰۱۷-۲۰۲۰</span>
                                                </div>
                                                <h4 class="mb-[8px] font-montserrat text-[18px] font-semibold leading-[26px] text-[#111a24] tracking-[0.03rem] max-[575px]:text-[16px] max-[575px]:leading-[25px]">شرکت فیسبوک<span class="text-[15px] text-[#555]">- توسعه‌دهنده ارشد</span></h4>
                                                <p class="overflow-hidden text-ellipsis flex m-[0] font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کار</p>
                                            </div>
                                        </div>
                                        <div class="bix-achievement-inner bix-border-l w-[50%] pl-[30px] border-l-[0.5px] border-solid border-[#111a24] max-[767px]:w-full max-[767px]:flex max-[767px]:flex-col max-[767px]:border-[0] max-[767px]:p-[0] max-[767px]:mb-[-24px]">
                                            <div class="bix-achievement-box right border-[1px] border-solid border-[#111a24] p-[30px] rounded-[30px] bg-[#f7f5fb] relative max-[767px]:mt-[12px] max-[767px]:mb-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="500">
                                                <div class="achievement-year w-[100px] h-full absolute top-[0] flex items-center justify-center rotate-[270deg] z-[1] left-[-82px] max-[767px]:block max-[767px]:rotate-[0] max-[767px]:top-[-13px] max-[767px]:left-[45px]">
                                                    <span class="bg-[#111a24] text-[#fff] border-[1px] border-solid border-[#111a24] rounded-[10px] leading-[1] py-[3px] px-[10px] font-montserrat font-normal tracking-[0.02rem] text-[14px]">۲۰۲۰-۲۲</span>
                                                </div>
                                                <h4 class="mb-[8px] font-montserrat text-[18px] font-semibold leading-[26px] text-[#111a24] tracking-[0.03rem] max-[575px]:text-[16px] max-[575px]:leading-[25px]">شرکت واتس‌اپ<span class="text-[15px] text-[#555]">- سرپرست تیم</span>
                                                </h4>
                                                <p class="overflow-hidden text-ellipsis flex m-[0] font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کار</p>
                                            </div>
                                            <div class="bix-achievement-box right border-[1px] border-solid border-[#111a24] mt-[150px] p-[30px] rounded-[30px] bg-[#f7f5fb] relative max-[767px]:mt-[12px] max-[767px]:mb-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="700">
                                                <div class="achievement-year w-[100px] h-full absolute top-[0] flex items-center justify-center rotate-[270deg] z-[1] left-[-82px] max-[767px]:block max-[767px]:rotate-[0] max-[767px]:top-[-13px] max-[767px]:left-[45px]">
                                                    <span class="bg-[#111a24] text-[#fff] border-[1px] border-solid border-[#111a24] rounded-[10px] leading-[1] py-[3px] px-[10px] font-montserrat font-normal tracking-[0.02rem] text-[14px]">۲۰۱۵-۲۰۱۷</span>
                                                </div>
                                                <h4 class="mb-[8px] font-montserrat text-[18px] font-semibold leading-[26px] text-[#111a24] tracking-[0.03rem] max-[575px]:text-[16px] max-[575px]:leading-[25px]">شرکت توییتر<span class="text-[15px] text-[#555]">- توسعه‌دهنده‌ی جوان</span></h4>
                                                <p class="overflow-hidden text-ellipsis flex m-[0] font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کار</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>