{% load static %}
<section class="section-blog pt-[50px] pb-[100px] max-[991px]:pt-[40px] max-[991px]:pb-[80px] max-[767px]:pt-[35px] max-[767px]:pb-[70px]" id="blog">
    <div class="flex flex-wrap justify-between items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
        <div class="flex flex-wrap w-full">
            <div class="w-full px-[12px]">
                <div class="bix-banner mb-[30px] flex justify-center text-center max-[1199px]:mb-[25px] max-[767px]:mb-[20px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                    <h4 class="font-montserrat text-[36px] font-bold text-[#111a24] tracking-[0.03rem] leading-[1.2] max-[1199px]:text-[32px] max-[767px]:text-[28px] max-[575px]:text-[24px]">کانون توجه<span class="text-[#f41a4a]"> داستان‌ها  </span></h4>
                </div>
                <div class="bix-banner-line mb-[110px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
                    <span class="inner-border relative flex justify-center"></span>
                </div>
            </div>
            <div class="w-full px-[12px]">
                <div class="owl-carousel bix-blog-wrap">
                    <div class="bix-blog-box mt-[53px] p-[20px] relative border-[1px] border-solid border-[#111a24] rounded-[30px] flex max-[1199px]:flex-col max-[1199px]:mt-[0] max-[767px]:max-w-[430px] max-[767px]:my-[0] max-[767px]:mx-auto" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                        <div class="blog-img mr-[10px] absolute w-[200px] top-[-54px] left-[20px] right-[20px] max-[1199px]:mr-[0] max-[1199px]:mb-[10px] max-[1199px]:relative max-[1199px]:w-auto max-[1199px]:top-[0] max-[1199px]:left-[0] max-[1199px]:right-[0]">
                            <img src="{% static 'assets/img/blog/1.jpg' %}" alt="blog-1" class="w-[200px] rounded-[30px] max-[1199px]:w-full">
                        </div>
                        <div class="blog-contact mr-[20px] pr-[200px] flex flex-col justify-center max-[1199px]:mr-[0] max-[1199px]:pr-[0]">
                            <span class="font-montserrat font-normal leading-[26px] tracking-[0.02rem] text-[13px] text-[#999]">بازاریابی</span>
                            <h4 class="mb-[8px] overflow-hidden text-ellipsis flex text-[calc(1.275rem+.3vw)] text-[#111a24] tracking-[0.03rem] leading-[1.2]"><a href="#" class="transition-all duration-[0.3s] ease-in-out font-montserrat text-[18px] leading-[26px] tracking-[0.03rem] font-semibold text-[#111a24] hover:text-[#f41a4a]">راهنمای بازاریابی - ۵ گام برای موفقیت</a></h4>
                            <p class="overflow-hidden text-ellipsis flex font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">
                                متن لورم پیسوم است چاپگرها در امتون سفید گازی در مغازنا در استون و سوئد
                            </p>
                        </div>
                    </div>
                    <div class="bix-blog-box mt-[53px] p-[20px] relative border-[1px] border-solid border-[#111a24] rounded-[30px] flex max-[1199px]:flex-col max-[1199px]:mt-[0] max-[767px]:max-w-[430px] max-[767px]:my-[0] max-[767px]:mx-auto" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
                        <div class="blog-img mr-[10px] absolute w-[200px] top-[-54px] left-[20px] right-[20px] max-[1199px]:mr-[0] max-[1199px]:mb-[10px] max-[1199px]:relative max-[1199px]:w-auto max-[1199px]:top-[0] max-[1199px]:left-[0] max-[1199px]:right-[0]">
                            <img src="{% static 'assets/img/blog/2.jpg' %}" alt="blog-2" class="w-[200px] rounded-[30px] max-[1199px]:w-full">
                        </div>
                        <div class="blog-contact mr-[20px] pr-[200px] flex flex-col justify-center max-[1199px]:mr-[0] max-[1199px]:pr-[0]">
                            <span class="font-montserrat font-normal leading-[26px] tracking-[0.02rem] text-[13px] text-[#999]">کسب و کار</span>
                            <h4 class="mb-[8px] overflow-hidden text-ellipsis flex text-[calc(1.275rem+.3vw)] text-[#111a24] tracking-[0.03rem] leading-[1.2]"><a href="#" class="transition-all duration-[0.3s] ease-in-out font-montserrat text-[18px] leading-[26px] tracking-[0.03rem] font-semibold text-[#111a24] hover:text-[#f41a4a]">بهترین راه برای حل معامله تجاری.</a></h4>
                            <p class="overflow-hidden text-ellipsis flex font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">
                                متن لورم پیسوم است چاپگرها در امتون سفید گازی در مغازنا در استون و سوئد
                            </p>
                        </div>
                    </div>
                    <div class="bix-blog-box mt-[53px] p-[20px] relative border-[1px] border-solid border-[#111a24] rounded-[30px] flex max-[1199px]:flex-col max-[1199px]:mt-[0] max-[767px]:max-w-[430px] max-[767px]:my-[0] max-[767px]:mx-auto" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="800">
                        <div class="blog-img mr-[10px] absolute w-[200px] top-[-54px] left-[20px] right-[20px] max-[1199px]:mr-[0] max-[1199px]:mb-[10px] max-[1199px]:relative max-[1199px]:w-auto max-[1199px]:top-[0] max-[1199px]:left-[0] max-[1199px]:right-[0]">
                            <img src="{% static 'assets/img/blog/3.jpg' %}" alt="blog-3" class="w-[200px] rounded-[30px] max-[1199px]:w-full">
                        </div>
                        <div class="blog-contact mr-[20px] pr-[200px] flex flex-col justify-center max-[1199px]:mr-[0] max-[1199px]:pr-[0]">
                            <span class="font-montserrat font-normal leading-[26px] tracking-[0.02rem] text-[13px] text-[#999]">دانش</span>
                            <h4 class="mb-[8px] overflow-hidden text-ellipsis flex text-[calc(1.275rem+.3vw)] text-[#111a24] tracking-[0.03rem] leading-[1.2]"><a href="#" class="transition-all duration-[0.3s] ease-in-out font-montserrat text-[18px] leading-[26px] tracking-[0.03rem] font-semibold text-[#111a24] hover:text-[#f41a4a]">آمار خدمات مشتری در سال ۲۰۱۹ را بشناسید.</a></h4>
                            <p class="overflow-hidden text-ellipsis flex font-montserrat text-[14px] text-[#495461] font-normal leading-[26px] tracking-[0.03rem]">
                                متن لورم پیسوم است چاپگرها در امتون سفید گازی در مغازنا در استون و سوئد
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>