{% load static %}
<section class="section-hero h-[800px] mt-[100px] relative pb-[50px] pt-[100px] max-[991px]:h-auto max-[991px]:mt-[95px] max-[991px]:pb-[40px] max-[991px]:pt-[80px] max-[767px]:pb-[35px] max-[767px]:pt-[70px]" id="home">
    <div class="first-name top-[0] leading-none absolute font-montserrat text-[200px] font-black text-[#fff] opacity-[0.04] max-[991px]:text-[130px] max-[991px]:top-[30px] max-[575px]:text-[100px] max-[460px]:text-[70px]"></div>
    <div class="last-name bottom-[0] right-[0] absolute font-montserrat text-[200px] font-black text-[#fff] opacity-[0.04] max-[991px]:bottom-[250px] max-[991px]:text-[130px] max-[575px]:text-[100px] max-[460px]:text-[70px]"></div>
    <div class="flex h-full flex-wrap justify-between relative items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
        <div class="flex flex-wrap w-full">
            <div class="min-[992px]:w-[50%] w-full px-[12px]">
                <div class="bix-hero-img relative" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
                    <div class="hero-inner-img relative">
                        <img src="{{ hero_section.avatar.url }}" alt="hero" data-offset="30" class="hero-parallax w-[calc(100%-300px)] mt-auto mx-auto mb-[50px] block max-[1399px]:w-[calc(100%-260px)] max-[1199px]:w-[calc(100%-215px)] max-[991px]:w-[calc(100%-400px)] max-[767px]:w-[calc(100%-250px)] max-[575px]:w-[210px]">
                    </div>
                </div>
            </div>
            <div class="min-[992px]:w-[50%] w-full px-[12px]">
                <div class="bix-hero-contact h-full flex flex-col justify-center relative max-[991px]:mt-[15px] max-[991px]:pb-[30px] max-[991px]:items-center max-[575px]:text-center">
                    <h4 class="mb-[8px] font-montserrat tracking-[0.03rem] leading-[1.2] text-[35px] font-bold text-[#f41a4a] max-[1399px]:text-[32px] max-[1199px]:text-[28px] max-[767px]:text-[24px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">سلام، من</h4>
                    <h1 class="mb-[16px] text-[78px] text-[#111a24] font-bold relative tracking-[0.03rem] leading-[1.2] max-[1399px]:text-[70px] max-[1199px]:text-[52px] max-[767px]:text-[38px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="700">{{ hero_section.name }}</h1>
                    <p class="font-montserrat text-[27px] font-semibold text-[#111a24] leading-[26px] tracking-[0.03rem] max-[1399px]:text-[24px] max-[1199px]:text-[20px] max-[767px]:text-[18px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="800">
                        هستم
                        <span class="mx-[5px] text-[#f41a4a]">{{ hero_section.job_title }}</span>
                    </p>
                    <div class="bix-buttons m-[-10px] pt-[50px] flex flex-wrap relative max-[991px]:pt-[20px] max-[575px]:justify-center" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="900">
                        {% if hero_section.resume_file %}
                        <button type="button" class="bix-button m-[10px] transition-all duration-[0.3s] ease-in-out py-[10px] px-[15px] font-montserrat text-[14px] font-semibold leading-[1.2] capitalize bg-[#fff] text-[#111a24] border-[1px] border-solid border-[#111a24] rounded-[15px] hover:bg-[#f41a4a] hover:border-[#f41a4a] hover:text-[#fff]" onclick="window.location.href='{{ hero_section.resume_file.url }}'">مشاهده رزومه</button>
                        {% endif %}
                        <button type="button" class="modal-trigger bix-modal-toggle bix-button m-[10px] transition-all duration-[0.3s] ease-in-out py-[10px] px-[15px] font-montserrat text-[14px] font-semibold leading-[1.2] capitalize bg-[#fff] text-[#111a24] border-[1px] border-solid border-[#111a24] rounded-[15px] hover:bg-[#f41a4a] hover:border-[#f41a4a] hover:text-[#fff]">{{ hero_section.button_text }}<i class="ri-arrow-left-up-line"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>