{% load static %}


<div class="bix-sidebar-overlay hidden w-full h-screen fixed top-[0] left-[0] bg-[#000000cc] z-[42]"></div>
<div id="in_mobile_menu" class="bix-side-cart bix-mobile-menu transition-all duration-[0.3s] ease-in-out w-[300px] h-full pt-[15px] px-[20px] pb-[20px] fixed top-[0] right-auto left-[0] bg-[#fff] translate-x-[-100%] flex flex-col z-[43] overflow-auto">
    <div class="bix-menu-title w-full pb-[20px] flex flex-wrap justify-between">
        <div class="menu-title flex items-center">
            <h4 class="relative border-[0] font-montserrat text-[17px] font-semibold leading-[1] text-[#1b1c20] bg-transparent tracking-[0.03rem]">منو</h4>
        </div>
        <button type="button" class="bix-close relative border-[0] text-[30px] leading-[1] text-[#ff0000] bg-transparent ">×</button>
    </div>
    <div class="bix-menu-inner">
        <div class="bix-menu-content">
            <ul class="bix-menu">
                <li class="nav-item relative"><a href="#home" class="nav-link mb-[12px] py-[8px] px-[16px] block capitalize text-[#777] border-[1px] border-solid border-[#eae8ef] rounded-[10px] font-montserrat leading-[26px] text-[14px] font-medium tracking-[0.03rem]">خانه</a></li>
                <li class="nav-item relative"><a href="#about" class="nav-link mb-[12px] py-[8px] px-[16px] block capitalize text-[#777] border-[1px] border-solid border-[#eae8ef] rounded-[10px] font-montserrat leading-[26px] text-[14px] font-medium tracking-[0.03rem]">درباره ما</a></li>
                <li class="nav-item relative"><a href="#bixexperience" class="nav-link mb-[12px] py-[8px] px-[16px] block capitalize text-[#777] border-[1px] border-solid border-[#eae8ef] rounded-[10px] font-montserrat leading-[26px] text-[14px] font-medium tracking-[0.03rem]">پروژه‌ها</a></li>
                <li class="nav-item relative"><a href="#services" class="nav-link mb-[12px] py-[8px] px-[16px] block capitalize text-[#777] border-[1px] border-solid border-[#eae8ef] rounded-[10px] font-montserrat leading-[26px] text-[14px] font-medium tracking-[0.03rem]">خدمات</a></li>
                <li class="nav-item relative"><a href="#projects" class="nav-link mb-[12px] py-[8px] px-[16px] block capitalize text-[#777] border-[1px] border-solid border-[#eae8ef] rounded-[10px] font-montserrat leading-[26px] text-[14px] font-medium tracking-[0.03rem]">رزومه</a></li>
                <li class="nav-item relative"><a href="#testimonial" class="nav-link mb-[12px] py-[8px] px-[16px] block capitalize text-[#777] border-[1px] border-solid border-[#eae8ef] rounded-[10px] font-montserrat leading-[26px] text-[14px] font-medium tracking-[0.03rem]">نظرات مشتریان</a></li>
            </ul>
        </div>
    </div>
</div>