{% load static %}


<script src="{% static 'assets/js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/parallax.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/aos.js' %}"></script>
<script src="{% static 'assets/js/vendor/smoothscroll.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
